table.mt-3.table.table-hover.bg-light
	tr
		td <strong>公司编号:</strong>
		td #{Firm.code}
	tr
		td <strong>公司名称:</strong>
		td #{Firm.nome}
	tr
		td <strong>负责人姓名:</strong> 
		td #{Firm.resp}
	tr
		td <strong>电话:</strong>
		td #{Firm.tel}
	tr
		td <strong>公司iva:</strong>
		td #{Firm.iva}
	tr
		td <strong>邮编:</strong>
		td #{Firm.post}
	tr
		td <strong>地址:</strong>
		td #{Firm.addr}
	tr
		td <strong>所在城市:</strong>
		td #{Firm.city}
	tr
		td <strong>城市简称:</strong>
		td #{Firm.ct}
	tr
		td <strong>国家:</strong>
		td #{Firm.nation}
	tr
		td <strong>国家简称:</strong>
		td #{Firm.nt}
	tr
		td <strong>银行:</strong>
		td #{Firm.bank}
	tr
		td <strong>iban:</strong>
		td #{Firm.iban}