extends ../../../aalayout/layout

block content
	.container
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/bser") Home
				li.breadcrumb-item: a(href="/bsPterns") 材料列表
				li.breadcrumb-item.active(aria-current="page") #{title}
		.row.my-3
			.col-12.text-right
				button.btn.btn-danger.jsDel-btnClick.mr-5(type="button") -
				a.btn.btn-warning(href="/bsPternUp/"+Ptern._id) 修改
		hr

		- getUrl = "/bsPternUpdAjax";
		- fieldPtFirm = PtFirms.map((item) => {return {val: item._id, text: item.code} });
		- object = Ptern;
		.row
			.col-md-4
			.col-md-4
				.card.text-center(style="width: 100%;")
					img.card-img-top.border-bottom.js-click-imgEnlarge(id="img-"+Ptern._id+"-photo-sub", src=Ptern.photo, alt="Ptern Photo Lost", width="100%", height="150px", style="object-fit: scale-down;")
					
					.row(class="jsImg-clickBefore-"+Ptern._id+"-photo-sub")
						.col-6
							.jsImg-clickUpd.text-info(id="clickUpd-"+Ptern._id+"-photo-sub") [点击]
						.col-6
							- field="photo", value=Ptern.photo, subid="photo", valueHide=1, toUp=-1, fieldDesp="[upd]";
							include ../../../../aaPlugin/ajaxInputUpd
							- fieldDesp = null, valueHide = null, toUp = null;
					.row(class="jsImg-clickAfter-"+Ptern._id+"-photo-sub", style="display:none")
						.col-6
							.jsImg-cancel.btn.btn-secondary(id="clickUpd-"+Ptern._id+"-photo-sub") [取消]
						.col-6
							form(method="post", action="/bsPternPhotoUpd", enctype="multipart/form-data")
								input(type="hidden", name="obj[_id]", value=Ptern._id)
								input(type="hidden", name="flDir", value=Conf.photo.Ptern.dir)
								input(type="hidden", name="flName", value=crUser.Firm+"-"+Ptern.code+"-"+crUser._id)
								input.jsImg-ipt(id="ipt-"+Ptern._id+"-photo-sub", type="file", name="fls", style="display:none")
								.form-group
									input.btn.btn-success(type="submit" value="确认")
					.card-body
						.code
							- field="code", value=Ptern.code, subid="code", fieldDesp="编号:";
							include ../../../../aaPlugin/ajaxInputUpd
						.PtFirm
							- fieldSels = fieldPtFirm;
							- field="PtFirm", subid="PtFirm", nullDesp = false;
							if Ptern.PtFirm
								- selectedVal = Ptern.PtFirm._id;
								- value=object[field].code, fieldDesp="印花厂:";
							else
								- selectedVal = "", value="", valueHide=1, fieldDesp="未选择印花厂";
							include ../../../../aaPlugin/ajaxSelectUpd
							- fieldDesp = null, valueHide = null;
						.PtCateg
							if Ptern.PtCategFir
								- PtCategFir = Ptern.PtCategFir;
								.PtCategFir 分类: #{PtCategFir.code}
								if Ptern.PtCategSec
									- PtCategSec = Ptern.PtCategSec;
									.PtCategSec 二级分类: #{PtCategSec.code}
									if Ptern.PtCategThd
										- PtCategThd = Ptern.PtCategThd;
										.PtCategThd 三级分类: #{PtCategThd.code}
							else
								span 未分类
						.sort.mt-3
							- field="sort", value=Ptern.sort, subid="sort", fieldDesp="权重:";
							include ../../../../aaPlugin/ajaxInputUpd
						.text-right.mt-3.jsDel-objElem(style="display:none")
							a.text-danger(href="/bsPternDel/"+Ptern._id) [删除]